<% if !@users.empty? %>
  <% @users.each do |user| %>
    <div class="card-product mb-4">
      <img src=<%= user.image_url %> />
      <div class="card-product-infos">
        <p class="font-weight-bold"><%= user.name %></p>
        <p class="font-weight-light">@<%= user.username %></p>
        <p class="font-weight-light"><%= user.description %></p>
        <%= link_to user.url, user.url, target: :blank, class: "font-weight-light" %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="flash flash-danger alert alert-dismissible fade show" role="alert">
    <span><strong>Oops!</strong> 😱 No users were found with your criteria.</span>
  </div>
<% end %>