<% if @user %>
  <div class="card-product">
   <img src=<%= @user.image_url %> />
    <div class="card-product-infos">
      <p class="font-weight-bold"><%= @user.name %></p>
      <p class="font-weight-light">@<%= @user.username %></p>
      <p class="font-weight-light"><%= @user.description %></p>
      <%= link_to @user.url, @user.url, target: :blank, class: "font-weight-light" %>
    </div>
  </div>
<% end %>