<div class="container">
  <% if flash[:alert] %>
    <div class="alert flash flash-danger"><%= flash[:alert] %></div>
  <% end %>

  <%= search_form_for @q do |f| %>
    <div class="search-form-control form-group mt-3">
      <%= f.search_field :username_or_name_or_description_cont, class: "form-control string required" %>
      <%= f.submit 'Search', class: "btn btn-flat" %>
    </div>
    <small class="form-text text-muted mt-n3">* This search bar is accent sensitive.</small>
  <% end %>

  <div class="text-center mb-3 mt-3">
    <%= link_to("Home", root_path, class: "btn btn-flat") unless current_page?(root_path) %>
    <%= link_to new_user_path, class: "btn btn-gradient" do %>
      <i class="fab fa-twitter"></i> New twitter account
    <% end %>
  </div>

  <% if params[:q].nil? %>
    <%= render 'user_info', user: @user %>
  <% else %>
    <%= render 'search', users: @users %>
  <% end %>
</div>