<div class="container">
  <% if flash[:alert] %>
      <div class="alert flash flash-danger"><%= flash[:alert] %></div>
  <% end %>

  <%= form_for @user do |f| %>
    <div class="form-group">
      <label for="name">Company Name</label>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="url">Twitter URL</label>
      <%= f.text_field :url, value: "https://twitter.com/", class: "form-control", id: "user-url" %>
      <small class="form-text text-muted">Note you need to use http or https url. i.e: https://twitter.com/google</small>
    </div>
    <%= link_to  "Go back", root_path, class: "btn btn-flat"  %>
    <%= f.submit "Create", class: "btn btn-gradient" %>
  <% end %>
</div>