<div class="container text-center">
  <%= link_to  "New twitter account", new_user_path %>
  <p>Name: <%= @user.name %></p>
  <p>Twitter Username: @<%= @user.username %></p>
  <p>Twitter Description: <%= @user.description %></p>
  <p>Twitter URL: <%= @user.url %></p>
</div>